/*  reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
button,input,select,textarea{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
i { font-style: normal; }
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:0.6rem "微软雅黑",Arial,Helvetica,sans-serif;min-height:100%;}
a,button{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
div { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;-webkit-tap-highlight-color:rgba(0,0,0,0);}
button {outline: none;border:none;}
.clearfix{zoom:1;}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
/*  end reset */